/*------------------
Fonts
------------------*/

@import url('https://fonts.googleapis.com/css?family=Kavoon|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Josefin+Sans|Pathway+Gothic+One');

/*------------------
Body
------------------*/

/*------------------
Video
------------------*/

.intro {
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, .30);
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
}

header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: rgba(109, 211, 206, .80);
  padding: 5px 5px;
  overflow: hidden;
  font-family: 'Kavoon';
}

body {
  font-family: 'Josefin Sans', sans-serif;
  color: #2f3a36;
  text-align: center;
  background-color: white;
}


form {
  text-align: center;
}

img {
  border: none;
}

header img {
  padding: 5px 0px;
  float: left;
  margin: 10px;
  height: 75px;
  border: none;
}

#answers {
  text-align: center;
  margin: 50px auto;
  width: 50%;
}

h1 {
  font-weight: 900;
  font-size: 3em;
  margin: 40px;
  font-family: 'Kavoon';
}

h2 {
  font-weight: 600;
  font-size: 1.75em;
  margin: 25px;
  font-family: 'Kavoon';
}

h3 {
  width: 75%;
  font-size: 1.75em;
  line-height: 1.25em;
  text-align: center;
  margin: auto;
  font-weight: 300;
}

#index-footer {
  color: white;
}

main {
  text-align: center;
  background-color: white;
}

#questions {
  text-align: center;
  width: 50%;
  margin: 50px auto 0px auto;
  font-size: 1.5em;
  font-family: 'Open Sans';
}

#counter {
  text-align: center;
  width: 50%;
  margin: 10px auto 0px auto;
  font-size: 1.5em;
  font-family: 'Open Sans';
}

#fem-text,
#entertain-text,
#sport-text {
  cursor: default;
}

#answer1,
#answer2,
#answer3,
#answer4 {
  border: 1px solid black;
  margin: 5px;
  border-radius: 3px;
  padding: 5px;
  background-color: #2f3136;
  color: white;
  font-family: 'Kavoon';
  cursor: default;
}


#answer1:hover,
#answer2:hover,
#answer3:hover,
#answer4:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.name1,
.name2,
.name3,
.name4 {
  border: 1px solid black;
  display: inline-block;
  width: 150px;
  height: 25px;
}

.points1,
.points2,
.points3,
.points4 {
  border: 1px solid black;
  display: inline-block;
  width: 75px;
  height: 25px;
}

#buddies {
  float: right;
  margin: 30px;
  text-decoration: none;
  color: #2f3a36;
  font-size: 20px;
  font-weight: 100;

}

#user-form {
  margin: 20px;
}

#username {
  font-size: 1em;
  padding: 7px;
  border: 0.5px solid #2f3a36;;
}

#avatars {
  display: inline-block;
  width: 600px;
}

.currentTurn {
  border: 5px solid green;
}

#users {
  display: inline-block;
  width: 600px;
}

#cocktail,
#tea,
#wine-glass,
#beer-mug {
  display: inline-block;
  margin: 5px;
  height: 55px;
  width: auto;
  border: none;
}

div #play {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

input[type=radio] {
  display: none;
  visibility: hidden;
}

:checked + label {
  outline: 3px solid green;
}

label {
  display: inline-block;
  height: 54px;
  width: 65px;
}

#cocktail + label {
  background-image: url("images/cocktail.png");
}

#tea + label {
  background-image: url("images/tea.png");
}

#wine-glass + label {
  background-image: url("images/wine-glass.png");
}

#beer-mug + label {
  background-image: url("images/beer-mug.png");
}

#play,
#submit {
  padding: 10px;
  border-radius: 2px;
  margin: 15px;
  font-size: 1em;
  border: .5px solid #2f3a36;
  background-color: #2f3a36;
  color:  #c3e0c5;
  background: rgba(20, 30, 26, .75);
}

#start {
  margin: 0 auto;
}

#feminism,
#entertainment,
#sports {
  font-size: 40px;
  font-weight: bold;
  border: 1px solid #2f3a36;
  margin: 10px;
  width: 300px;
  display: inline-block;
}

#category {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

footer {
  margin: 50px;
}

/*------------------
User Avatars
------------------*/

#users {
  margin: 50px;
  display: inline;
}

#user-block {
  display: inline-block;
  font-size: 17px;
  margin: 10px 10px;
  font-family: 'Kavoon';
}

#user-block0,
#user-block1,
#user-block2,
#user-block3 {
  display: inline-block;
  font-size: 17px;
  margin: 10px 10px;
  font-family: 'Kavoon';
}

#check img {
  height: 20px;
  width: 20px;
}

/*------------------
About Page
------------------*/

h3.about {
  font-family: 'Kavoon';
  line-height: 120%;
}

p.about {
  font-family: 'Open Sans';
  line-height: 120%;
}

/*------------------
About Page: Table
------------------*/
.scores {
  background-color: white;
  margin: 40px auto;
}

#table-name th {
  padding: 5px;
  border: 1px solid black;
  width: 200px;
}

#results {
  text-align: center;
  margin: 4% auto;
  padding: 5% 5%;
}

#table-name {
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
}

#table-points td {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  width: 200px;
  font-size: 20px;
}

#winner-row td {
  text-align: center;
  padding: 5px;
  width: 200px;
}

#winner-row img {
  width: 30px;
  height: 30px;
}

.about {
  margin: 3% auto;
}

/*------------------
About Page: Bios
------------------*/

.bios {
  background-color: #6dd6ce;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23319ca1' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.morgan-and-keeley {
  width: 85%;
  margin: 40px auto;
}

.jade-and-grayson {
  width: 85%;
  margin: 40px auto;
}

.keeley {
  float: left;
  width: 40%;
  padding: 20px 20px;
  text-align: left;
  background-image: url('images/crumpled_paper_texture.jpg');
}

.keeley img {
  float: left;
  margin: 10px 10px;
}

.morgan {
  float: right;
  width: 40%;
  padding: 20px 20px;
  text-align: left;
  background-image: url('images/crumpled_paper_texture.jpg');
}

.morgan img {
  float: left;
  margin: 10px 10px;
}

.morgan-and-keeley:after {
  content: "";
  display: table;
  clear: both;
}

.grayson {
  float: left;
  width: 40%;
  padding: 20px 20px;
  text-align: left;
  background-image: url('images/crumpled_paper_texture.jpg');
}

.grayson img {
  float: left;
  margin: 10px 10px;
}

.jade {
  float: right;
  width: 40%;
  padding: 20px 20px;
  text-align: left;
  background-image: url('images/crumpled_paper_texture.jpg');
}

.jade img {
  float: left;
  margin: 10px 10px;
}

.jade-and-grayson:after {
  content: "";
  display: table;
  clear: both;
}
